<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/bg.jpg');">
			<div class="wrap-login100"style="background-image: url('assets/login.jpg');">
				<form class="login100-form validate-form">
					

					<span class="login100-form-title p-b-34 p-t-27"style="color:black;background-color:#f2f2f2;border-radius:1.5em;border:.05em solid orange;margin-bottom:1em;">
					Log In
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username"style="color:black">
            <input type="text" name="userName" id="userName" [(ngModel)]="newUser.userName" placeholder="Username..." class="input100"style="color:black">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password"style="color:black">
            <input type="password" name="password" id="password" [(ngModel)]="newUser.password" placeholder="Password..." class="input100"style="color:black">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn" (click)="check()"style="color:black">
                Sign In
              </button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>