
<br><br><br><br>
<div class="container marketing" style="padding-left:16em;padding-right:16em;">


<form>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">User Name</label>
          <input type="text" name="userName" id="userName" class="form-control" [(ngModel)]="newPost.userName" placeholder="User...">
        </div>
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Title</label>
        <input type="text" name="title" id="title" class="form-control" [(ngModel)]="newPost.title" placeholder="Title...">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Content</label>
      <input type="text" name="content" id="content" class="form-control" [(ngModel)]="newPost.content" placeholder="Content...">
    </div>
    <input type="hidden" name="vote" id="vote" value="0">
    <input type="hidden" name="comments" id="comments">
    <button routerLink="/result" type="submit" class="btn btn-primary" (click)="create()">Post</button>
  </form>
</div>