ul, li{
    list-style-type: none;
}

div button{
    align-content:center;
    margin-left:auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color:black;
}
a:hover h1{
    text-decoration: none;
    color:white;
    text-shadow: 0 0 5px black;
}
.feed-container{
    text-align:center;
    align-content: center;
    margin:25px;
    
  }
  .feed-border{
    background:#fff;
    width:600px;
    box-shadow:0px 1px 0px 2px rgba(51, 51, 51, 0.1);
    border-radius: 1px;  
    margin:15px 0px;
  }
  .feed-options{
    position:absolute;
    left:600px;
    color: #808080;
    cursor:pointer;
  }
  .feed-content,.feed-avatar{
    float:left;
    
  }
  .feed-avatar{
    margin: 10px 10px;
  }
  .feed-content{
    margin: 20px 5px;
    padding-left:5em;
    width:80%;
  }
  .feed-avatar img{
    border-radius:50%;
  }
  .feed-footer{
    border-top:solid 1px #E0E0E0;
    padding-top:10px;
    background:#f0f0f0;
  }
  .feed-footer .footer-left{
    float:left;
    margin:0px 15px 10px 15px;
    font-size:14px;
  }
  .feed-footer .footer-right{
    float:right;
    margin:0px 15px 10px 0px;
    font-size:14px;
  }
  .footer-time{
    color: #808080;
    cursor:pointer;
  }
  .feed-footer a{
    color:#808080;
  }
  .feed-footer a:hover{
    color:#333;
  }
  .divisor{
    border-left: solid 1px #B5B5B5;
    margin-right:5px;
    margin-left:1px;
  }

  .username{
      color:black;
      text-align:left;
  }

  div h1, div h3{
    text-align:left;
  }

  .btn{
      margin-top:4em;
  }